.App {
  text-align: center;
}

button {
  background-color: inherit;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
}
button:hover {
  background-color: rgba(0, 0, 0, .2);
}

.systems-list {
  margin-top: 20px;
}
.systems-list .system {
  display: inline-block;
  padding: 20px;
  position: relative;
}

.system .on-off {
  position: absolute;
  top: 0;
  right: 0;
}
.on-off img {
  width: 15px;
  height: 15px;
}

.on-off.on {
  background-color: green;
}

.on-off.off {
  background-color: red;
}

.resource-icon {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  padding: 2px;
  background-color: white;
  margin-bottom: -1px;
}

.toggle-button.online {
    background-color: green;
}

.toggle-button.offline {
    background-color: transparent;
}

.water-system {
  background-color: #47ddff;
}

.electrical-system {
  background-color: #ffe70f;
}
